<h1>Add New Figure</h1>
 <form action='/figures' method='POST'>
  <h4><label>Historical Figure:</label></h4>
  <input id='figure_name' type='text' name='figure[name]'><br>
   <br></br>
   <label>Title:</label>
  <%Title.all.each do |title|%>
  <ul><label><%= title.name %></label>
  <input id='title_<%= title.id %>' type='checkbox' name='figure[title_ids][]' value='<%= title.id %>'></ul>
  <%end%>
   <br>
   <label>Create New Title:</label>
  <input id='new_title' type='text' name='title[name]'>
   <br></br>
  <h4><label>Landmark:</label></h4>
  <%Landmark.all.each do |landmark|%>
  <ul><label><%=landmark.name%></label>
  <input id='landmark_<%=landmark.id%>' type='checkbox' name='figure[landmark_ids][]' value='<%= landmark.id %>'></ul>
  <% end %>
   <br></br>
   <label>Create New Landmark:</label>
  <input id='new_landmark' type='text' name='landmark[name]'>
  <label>Year:</label>
  <input type='text' name='landmark[year_completed]'><br>
  <br></br>
  <input type='submit' value="Create New Figure">
</form>